html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fixed-body {
  position: fixed;
}

button {
  width: 100%;
  height: 100%;
}
